.sidebar {
  width: 250px;
  background-color: #efefef;

  .logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-link {
    transition: all 0.2s;

    &:hover {
      background-color: #2563dc;
      color: white !important;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.15);
      color: #eef2fc !important;
      font-weight: 500;
    }
  }

  .btn-link {
    &:hover {
      color: #eef2fc !important;
      background-color: #14367b;
      border-radius: 0.375rem;
    }
  }
}
