<header class="header bg-white border-bottom py-3 px-4">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Search Bar -->
      <div class="col-md-6 mb-3 mb-md-0">
        <app-search-bar></app-search-bar>
      </div>

      <!-- Notifications and User -->
      <div class="col-md-6">
        <div class="d-flex align-items-center justify-content-end gap-3">
          <button
            class="btn btn-light position-relative p-2 rounded-circle"
            style="width: 40px; height: 40px"
          >
            <img src="./assets/icons/Notification icon.svg" alt="Notification Icon" />
          </button>

          <!-- User Image & Settings -->
          <div class="relative">
            <img
              src="./assets/icons/User Avatar.svg"
              alt="User"
              class="rounded-full border border-gray-300 cursor-pointer"
              width="40"
              height="40"
              (click)="toggleMenu()"
            />

            <!-- Drop Down Menu -->
            @if(showMenu){
            <div
              class="absolute right-0 mt-2 w-44 bg-white border border-gray-200 rounded-lg shadow-lg z-50 overflow-hidden"
            >
              <div class="py-2">
                <button
                  routerLink="edit-profile"
                  class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >
                  Edit Profile
                </button>
                <button
                  (click)="logOut()"
                  routerLink="login"
                  class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >
                  Login
                </button>
                <button
                  (click)="logOut()"
                  routerLink="register"
                  class="block w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >
                  Register
                </button>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
