h2 {
  color: #3949ab;
}

button {
  background-color: #3949ab;
  color: white;
  transition: all 0.3;
}

button:hover {
  background-color: #5a67bb;
  color: white;
}

.errorsContainer {
  min-height: 32px;
}

.errorContainer {
  min-height: 32px;
}

.errorContainer:empty {
  min-height: 32px;
}
