<!-- Three Columns Layout (Todo / In Progress / Done) -->
<div class="rounded-lg p-4" [ngClass]="backgroundColor">
  <div class="flex items-center gap-2 mb-4">
    <img [src]="icon" alt="To do Icon" />
    <h2 class="text-lg font-semibold text-gray-800">{{ title }}</h2>
    <span class="text-lg font-semibold ms-auto">
      @if(tasksLength() === 0) {( No tasks found )} @else if(tasksLength() === 1){ (
      {{ tasksLength() }} Task ) } @else{ ( {{ tasksLength() }} Tasks )}
    </span>
  </div>
  <div
    cdkDropList
    [id]="dropListId"
    [cdkDropListData]="tasks"
    [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="onDrop($event)"
    class="space-y-3"
  >
    @for (task of tasks; track task.id) {
    <app-task-card [task]="task"></app-task-card>
    } @empty {
    <div class="text-center p-4 text-gray-400 italic">{{ emptyMsg }}</div>
    }
  </div>
</div>
