<!-- Three Columns Layout (Todo / In Progress / Done) -->
<div class="rounded-lg p-4" [ngStyle]="{ 'background-color': backgroundColor }">
  <div class="flex items-center gap-2 mb-4">
    <img [src]="icon" alt="To do Icon" />
    <h2 [ngStyle]="{ color: titleColor }" class="text-lg font-semibold text-gray-800">
      {{ title }}
    </h2>
    <span class="text-lg font-semibold ms-auto">
      @if (tasksLength() === 0) { ( {{ 'TASKS.NONE' | translate }} ) } @else if (tasksLength() ===
      1) { ( {{ 'TASKS.ONE' | translate : { count: tasksLength() } }} ) } @else { (
      {{ 'TASKS.MANY' | translate : { count: tasksLength() } }} ) }
    </span>
  </div>
  <div
    cdkDropList
    [id]="dropListId"
    [cdkDropListData]="tasks"
    [cdkDropListConnectedTo]="connectedDropLists"
    (cdkDropListDropped)="onDrop($event)"
    class="space-y-3"
  >
    @for (task of tasks; track task.id) {
    <app-task-card [task]="task"></app-task-card>
    } @empty {
    <div class="text-center p-4 text-gray-400 italic">{{ emptyMsg }}</div>
    }
  </div>
</div>
