<div class="h-screen bg-gray-50 p-8 flex flex-col overflow-hidden">
  <!-- Header -->
  <app-task-header class="flex-shrink-0"></app-task-header>

  <!-- Three Columns Layout (Todo / In Progress / Done) -->
  <div
    class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 flex-1 overflow-y-auto mt-6"
    cdkDropListGroup
  >
    <app-task-column
      title="To do"
      icon="./assets/icons/Card status icon (1).svg"
      backgroundColor="bg-blue-50"
      taskStatus="todo"
      emptyMsg="No tasks yet"
      [dropListId]="'todo'"
      [connectedDropLists]="dropListIds"
      (taskDropped)="onTaskDrop($event)"
    ></app-task-column>

    <app-task-column
      title="In progress"
      icon="./assets/icons/Card status icon (2).svg"
      backgroundColor="bg-orange-50"
      taskStatus="in-progress"
      emptyMsg="No tasks in progress"
      [dropListId]="'in-progress'"
      [connectedDropLists]="dropListIds"
      (taskDropped)="onTaskDrop($event)"
    ></app-task-column>

    <app-task-column
      title="Done"
      icon="./assets/icons/Card status icon.svg"
      backgroundColor="bg-green-50"
      taskStatus="done"
      emptyMsg="All tasks done 🎉"
      [dropListId]="'done'"
      [connectedDropLists]="dropListIds"
      (taskDropped)="onTaskDrop($event)"
    ></app-task-column>
  </div>
</div>

<app-task-modal></app-task-modal>
