<div class="h-screen bg-gray-50 p-8 flex flex-col">
  <!-- Header -->
  <app-task-header class="flex-shrink-0"></app-task-header>

  <!-- Three Columns Layout (Todo / In Progress / Done) -->
  <div
    class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 flex-1 overflow-y-auto mt-6"
    cdkDropListGroup
  >
    <app-task-column
      [title]="'TASKS.TODO_TITLE' | translate"
      titleColor="var(--todo-task-title-color)"
      icon="./assets/icons/Card status icon (1).svg"
      backgroundColor="var(--todo-task-background-color)"
      taskStatus="todo"
      [emptyMsg]="'TASKS.EMPTY_MSG_TODO' | translate"
      [dropListId]="'todo'"
      [connectedDropLists]="dropListIds()"
      (taskDropped)="onTaskDrop($event)"
    ></app-task-column>

    <app-task-column
      [title]="'TASKS.IN_PROGRESS_TITLE' | translate"
      titleColor="var(--in-progress-task-title-color)"
      icon="./assets/icons/Card status icon (2).svg"
      backgroundColor="var(--in-progress-task-background-color)"
      taskStatus="in-progress"
      [emptyMsg]="'TASKS.EMPTY_MSG_IN_PROGRESS' | translate"
      [dropListId]="'in-progress'"
      [connectedDropLists]="dropListIds()"
      (taskDropped)="onTaskDrop($event)"
    ></app-task-column>

    <app-task-column
      [title]="'TASKS.DONE_TITLE' | translate"
      titleColor="var(--done-task-title-color)"
      icon="./assets/icons/Card status icon.svg"
      backgroundColor="var(--done-task-background-color)"
      taskStatus="done"
      [emptyMsg]="'TASKS.EMPTY_MSG_DONE' | translate"
      [dropListId]="'done'"
      [connectedDropLists]="dropListIds()"
      (taskDropped)="onTaskDrop($event)"
    ></app-task-column>
  </div>
</div>

<app-task-modal></app-task-modal>
